.card-contacts{
  min-width: 200px;
  min-height: 200px;
  margin-top: 10px;
  margin-left: 5%;
}

.title-main{
  display: inline-flex;
}

.tab-group-class{
  max-width: 500px;
}

.user-main-info{
  padding-left: 10px;
}
.education-card{
  max-width: 150px;
}

.education-group{
  display: inline-flex;
  max-width: 300px;
}


.link-group{
  margin-top: 10px;
  display: inline-flex;
  margin-left: 10%;
}

.link-class{
  max-width: 150px;
  min-width: 150px;
  max-height: 200px;
}

.company-group{
  display: inline-flex;
}

.card-main{
  min-height: 200px;
  min-width: 400px;
  margin-top: 10px;
}

.card-history{
  min-width: 80%;
  margin-top: 10px;
  margin-left: 25%;
}

.button-grouph{
  display: inline-flex;
}

.link-info{
  margin-left: 8%;
}

.card-skill{
  min-width: 80%;
  margin-top: 10px;
  margin-left: 25%;
}

.user-info{
  display: inline-flex;
  min-width: 100%;

}

.main-info{
  min-width: 230px;
}

.home-page-class{
  display: inline-flex;
}

.skill-info{
  margin-left: 5%;
  min-width: 70%;
  max-height: 60px;
}

.skills-class{
  padding-left: 40px;
  padding-top: 10px;
  min-width: 600px;
}

.mat-header-image {
  min-width: 100px;
  min-height: 100px;
}

.experience-class{
  min-width: 90%;
}

.experience-info{
  display: inline-flex;
}

.user-name{
  margin-top: 5px;
  font-size: 15px;
}

.add-skill{
  display: inline-flex;
}

.add-new-skill{
  margin-left: 40%;
}

.company-class{
  padding-top: 10px;
  padding-bottom: 20px;
}

.history-class{
  padding-top: 10px;
}

.history-elem-class{
  padding-top: 10px;
  margin-bottom: 10px;
}

.gender-field{
  display: inline-flex;
}
.gender-label{
  padding-top: 16px;
  padding-bottom: 24px;
}
.gender-button{

  position: absolute;
  right: 10px;
}

.apply-gender-class{
  padding-top: 16px;
}

.gender-class{
  display: inline-flex;
}

.company-tab{

}

.company-skills{

}
.city-info-class{
  display: inline-flex;
}

.gender-field-with-button{
  display: inline-flex;
}

.education-skills{

}

.remove-skill{

}

.apply-remove{
  display: inline-flex;
}

.skill-button{

  color: red;
}

.company-buttons-class{
  display: inline-flex;
}

.tab-title-label-class{
  align-content: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
}


.change-education{
  display: inline-flex;
}

.date-info{
  max-width: 100%;
  //max-height: 45px;
  //min-height: 45px;
}
.height-class{
  max-width: 100%;
  //max-height: 45px;
  //min-height: 45px;

}

.date-info-datepicker{
  max-width: 100%;
  //max-height: 45px;
  //min-height: 45px;
  font-size: 15px;
}

.gender{
  display: inline-flex;
}
.city-class{
  display: inline-flex;
  font-size: 15px;
}
