.login-page-input-form {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  max-width: 250px;
  margin-left: 45%;
  margin-top: 10%;
}

.login-button {
  align-items: flex-end;
}
