<div class="sing-up-component">
  <h1 class="page-select">
    {{ 'SIGN_UP.TITLE' | translate }}
  </h1>
  <div class="reg-inputs">
    <form #regForm name="regForm" (submit)="regMyUser()" [formGroup]="regFormGroup">
      <mat-input-container class="full-width">
        <input matInput placeholder="{{ 'SIGN_UP.USERNAME.PLACEHOLDER' | translate }}"
               type="text"
               formControlName="username" #username
               [errorStateMatcher]="loginAndEmailErrorStateMatcher" required>
        <mat-error *ngIf="regFormGroup.controls.username.hasError('required')">
          {{ 'SIGN_UP.COMMON.VALIDATION.REQUIRED' | translate }}
        </mat-error>
        <mat-error *ngIf="regFormGroup.controls.username.hasError('pattern')">
          {{ 'SIGN_UP.USERNAME.VALIDATION.PATTERN' | translate }}
        </mat-error>
        <mat-error *ngIf="regFormGroup.controls.username.hasError('loginUnique')">
          {{ 'SIGN_UP.USERNAME.VALIDATION.NOT_UNIQUE' | translate}}
        </mat-error>
      </mat-input-container>

      <mat-input-container class="full-width">
        <input matInput placeholder="{{ 'SIGN_UP.PASSWORD.PLACEHOLDER' | translate }}" type="password"
               class="form-control" formControlName="password"
               required validateEqual="confirmPassword" reverse="true" #password>
        <mat-error *ngIf="regFormGroup.controls.password.hasError('required')">
          {{ 'SIGN_UP.COMMON.VALIDATION.REQUIRED' | translate }}
        </mat-error>
        <mat-error *ngIf="regFormGroup.controls.password.hasError('pattern')">
          {{ 'SIGN_UP.PASSWORD.VALIDATION.PATTERN' | translate }}
        </mat-error>
      </mat-input-container>

      <mat-input-container class="full-width">
        <input matInput placeholder="{{ 'SIGN_UP.CONFIRM_PASSWORD.PLACEHOLDER' | translate }}"
               type="password"
               class="form-control" name="confirmPassword"
               formControlName="confirmPassword"
               required validateEqual="password" reverse="false" #confirmPassword>
        <mat-error *ngIf="regFormGroup.controls.confirmPassword.hasError('equal')">
          {{'SIGN_UP.CONFIRM_PASSWORD.VALIDATION.NOT_EQUAL' | translate }}
        </mat-error>
      </mat-input-container>

      <mat-input-container class="full-width">
        <input matInput placeholder="{{ 'SIGN_UP.EMAIL.PLACEHOLDER' | translate }}"
               type="email" formControlName="email" class="form-control"
               [errorStateMatcher]="loginAndEmailErrorStateMatcher"
               #email required>
        <mat-error *ngIf="regFormGroup.controls.email.hasError('required')">
          {{ 'SIGN_UP.COMMON.VALIDATION.REQUIRED' | translate }}
        </mat-error>
        <mat-error
          *ngIf="regFormGroup.controls.email.hasError('email') && !regFormGroup.controls.email.hasError('required')">
          {{ 'SIGN_UP.EMAIL.VALIDATION.EMAIL' | translate }}
        </mat-error>
        <mat-error *ngIf="regFormGroup.controls.email.hasError('emailUnique')">
          {{ 'SIGN_UP.EMAIL.VALIDATION.NOT_UNIQUE' | translate}}
        </mat-error>
      </mat-input-container>


      <mat-input-container class="full-width">
        <input matInput placeholder="{{ 'SIGN_UP.FIRST_NAME.PLACEHOLDER' | translate }}"
               type="text" name="FirstName" formControlName="firstName" required
               #firstName>
        <mat-error *ngIf="regFormGroup.controls.firstName.hasError('required')">
          {{ 'SIGN_UP.COMMON.VALIDATION.REQUIRED' | translate }}
        </mat-error>
      </mat-input-container>


      <mat-input-container class="full-width">
        <input matInput
               placeholder="{{ 'SIGN_UP.MIDDLE_NAME.PLACEHOLDER' | translate }}"
               type="text" formControlName="middleName"
               #middleName>
      </mat-input-container>

      <mat-input-container class="full-width">
        <input matInput
               placeholder="{{ 'SIGN_UP.LAST_NAME.PLACEHOLDER' | translate }}"
               type="text" formControlName="lastName" required
               #lastName>
        <mat-error *ngIf="regFormGroup.controls.lastName.hasError('required')">
          {{ 'SIGN_UP.COMMON.VALIDATION.REQUIRED' | translate }}
        </mat-error>
      </mat-input-container>
      <mat-input-container>
        <input matInput [matDatepicker]="dp1" placeholder="{{'SIGN_UP.BIRTHDAY.PLACEHOLDER' | translate}}" formControlName="birthday" required [min]="minDate" [max]="maxDate">
        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
        <mat-datepicker #dp1 ></mat-datepicker>
        <mat-error *ngIf="regFormGroup.controls.birthday.hasError('required')">
          {{ 'SIGN_UP.COMMON.VALIDATION.REQUIRED' | translate }}
        </mat-error>
      </mat-input-container>
      <button type="submit" class="reg-button" mat-button color="primary" [disabled]="regFormGroup.invalid">
        {{ 'SIGN_UP.SUBMIT_BUTTON.TEXT' | translate }}
      </button>
    </form>
  </div>


</div>

