.page-select {
  font-family: Roboto, sans-serif;
  font-size: 25px;
  font-weight: normal;
}

.reg-form {
  width: 100%;
}

.full-width {
  width: 100%;
}

.reg-button {
  align-items: flex-end;
}
.sing-up-component{
  margin-left: 25%;
  max-width: 900px;
}
