<mat-toolbar color="milk">
  <span class="example-fill-remaining-space">ISOGJ</span>
  <div class="heads">
    <div *ngIf="isLoggedIn$ | async; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <button mat-button routerLink="/home-page" routerLinkActive="menu">{{'HEADER.HOME.PLACEHOLDER' | translate}}</button>
      <button mat-button (click)="onLogout()" *ngIf="isLoggedIn$ | async">{{'HEADER.LOGOUT.PLACEHOLDER' | translate}}</button>
    </ng-template>
    <ng-template #elseBlock>
      <button mat-button routerLink="/login" routerLinkActive="menu" >{{'HEADER.SIGN_IN.PLACEHOLDER' | translate}}</button>
      <button mat-button routerLink="/registration" routerLinkActive="menu" >{{'HEADER.SIGN_UP.PLACEHOLDER' | translate}}</button>
    </ng-template>
    </div>
  <div class="lang-select">
    <app-lang-select></app-lang-select>
  </div>

</mat-toolbar>
